body {
  margin: 0;
  padding: 0;
}
.top {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 30px;
        background-color: rgba(4, 6, 43, 0.9);
        color:white;
        top:0px;
        font-weight:bold;
        font-size:20px;
      }
.content{
    display: flex; 
    flex-direction: column;
    align-items:center;
    text-align: center;
}

.title {
    margin-top: 20px; 
    font-weight: bold;
}
.author{
    font-weight:bold;
}
.state {
    margin-top: 20px; 
    font-weight: bold;
}
.checkbox {
    margin-top: 10px; 
}

.row{
    display: flex;
    margin-top: 10px;
}
.text{
    margin-right:5px;
}
.button{
    margin-top:10px;
}
hr {
    border: none;
    border-top: 1px solid #ccc; 
    width: 80%;
    margin: 30px; 
}

.information{
    margin-top:10px;
}
