 <!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>My test page</title>
    <link href="/static/week7.css" rel="stylesheet">
  </head>
  <body>
    <header>
        <div class="top">
          歡迎光臨，這是會員頁
        </div>
    </header>
    <div class="content">
      <div class="title" id="welcomeName">{{statement_content}}，歡迎登入系統</div>
        
        <a href="/logout">登出系統</a>
        <hr>
        <div class="title">查詢會員姓名</div> 
      <div class="row"> 
        <input type="text" id="findMember" name="message">
      </div>
      <input class="button" onclick="findMember()" type="button" value="查詢">
      <div id="member"></div>
      <hr>
      <div class="title">更新我的姓名</div> 
      <div class="row"> 
        <input type="text" id="newName" name="message">
      </div>
      <input class="button" onclick="updateName()" type="button" value="更新">
      <div id="success"></div>
      <hr>
      <div class="title">誰查詢了我</div> 
      <input class="button" onclick="getFullrecords()" type="button" value="更新">
      <div id="searched" style=" margin-bottom: 30px;"></div>
    </div>
  
    <script src="/static/week7.js"></script>
  </body>
</html>